

/* Colors */
.wd-fg-color-white { color: white; }

.wd-bg-color-dark-gray {
  background-color: #212327;
}

.wd-test-class {
  background-color: #0000ff;
}

.wd-border-color {
  color: rgb(47, 51, 54);
}

/* Spacing and Positioning */
.wd-margin-left {
  margin-left: 16px;
}

/* Misc */
.wd-margin-top-2-half {
  margin-top: 12px;
}



.wd-search {
  width: calc(100% - 80px);
  height: 40px;
  border-style: solid;
  border-width: thin;
  border-radius: 50px;
  background-color: white;
}

.wd-gear {
  float: right;
  margin-top: 9px;
  margin-right: 12px;
}

.wd-link-row {
  margin-top: 10px;
  clear: both;
  border-bottom-style: solid;
  border-color: rgb(47, 51, 54);
  border-width: thin;
}

.wd-selected-link {
  float: left;
  text-align: center;
  color: rgb(29, 161, 242);
  font: 15px Helvetica Neue Light, sans-serif;
  padding: 16px;
  border-bottom-style: solid;
  border-color: rgb(29, 161, 242);
}

.wd-link {
  float: left;
  text-align: center;
  color: rgb(110, 118, 125);
  font: 15px Helvetica Neue Light, sans-serif;
  padding: 16px
}

.wd-float-done {
  clear: both;
}

.wd-post-standard {
  width: 100%;
  font: 13px Helvetica Neue Light, sans-serif;
  color: rgb(110, 118, 125);
  border-style: solid;
  border-color: rgb(47, 51, 54);
  border-width: 1px;
}

.wd-bold-text {
  color: white;
}

.wd-post-img {
  width: 100px;
  height: 100px;
  float: right;
  border-radius: 15px;
}

.wd-post-type-img {
  height: 100px;
  width: 100%;
  font: 13px Helvetica Neue Light, sans-serif;
  line-height: 1.4;
  color: rgb(110, 118, 125);
  border-style: solid;
  border-width: 1px;
}

.wd-big-img-text {
    color: white;
    font: 40px Helvetica Neue, sans-serif;
}

.wd-rec-img {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 20px;
}

.wd-rec-text {
  float: left;
  line-height: 1.3;
}

.wd-float-right {
  float: right;
}

.wd-float-left {
  float: left;
}